apiVersion: v1
kind: Secret
metadata:
  name: otel-demo-shared
  namespace: otel-demo
type: Opaque
stringData:
  application-insights-connection-string: "<APPLICATION_INSIGHTS_CONNECTION_STRING>"
  spring-datasource-url: "jdbc:sqlserver://<SQL_SERVER_FQDN>:1433;database=<ORDERS_DB_NAME>;encrypt=true;trustServerCertificate=true;"
  spring-datasource-username: "<SQL_ADMIN_USERNAME>"
  spring-datasource-password: "<SQL_ADMIN_PASSWORD>"
  redis-connection-string: "<REDIS_HOST>:6380,password=<REDIS_KEY>,ssl=True,abortConnect=False"
  redis-url: "rediss://:<REDIS_KEY>@<REDIS_HOST>:6380"
  eventhub-orders-connection-string: "<EVENT_HUB_ORDERS_CONNECTION_STRING>"
  eventhub-payments-connection-string: "<EVENT_HUB_PAYMENTS_CONNECTION_STRING>"
  cosmos-endpoint: "<COSMOS_DB_ENDPOINT>"
  cosmos-key: "<COSMOS_DB_PRIMARY_KEY>"
  failure-injection-enabled: "false"
